.navcolor{
    background-color: darkred;
}

.link-items{
    color: #fff !important;
    padding: 30px;
    font-family: sans-serif;
    font-size: 28px;
}

.carousel-content {
    height: 550px;
}

#footer{
    background-color: darkred;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#para{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}